@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* Header styling */
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: inherit;

}


article, nav, footer, figure, header, section, summary, main {
  display: block;
}

ul, ol {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  background-color: transparent;
}

a img {
  border: none;
}

img {
  height: auto;
  width: 100%;
}

svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Navigation styling */
nav {
  position: sticky;
  top: 0;
  background-color: #272629;
  overflow: hidden;
  z-index: 100;
  height: 100px;
  width: 100%;
  font-size: larger;
  border-bottom: 7px solid #5fa31c;
}

nav:hover {
  position: sticky;
}

.dropdown {
  float: left;
}

.dropdown:hover{
  background-color: #5fa31c;
}
.sikimsonik:hover{
  background-color: #5fa31c;
}
.dropdown a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-container {
  float: right;
  padding: 14px;
}

/* Form styling */
form {
  display: inline-block;
}

input[type=text] {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 25px;
}

button {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #5fa31c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: #555;
}

/* Main styling */
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 55%;
  gap: 10px;
  background-color: #5fa31c;
  padding: 10px;
}

.grid-container > div {
  background-color: #272629;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item1 h4{
  color: white;
}

.item2{
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 h4{
  color: white;
}

.item3 h4{
 text-align: center;
 font-size: 35px;
 font-style: italic;
}


/* banner */

.banner-sub-content{
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

/*** Popular Now */
.hot-topic{
  overflow: hidden;
  position: relative;
  width: 450px;
  height: 300px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;  
}

.hot-topic img{
  display: block;
  height: 120%;
  width: 100%;
}

.hot-topic-content{
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 10px 20px;
  line-height: 1.3;
  color: #f3f3f3;
  
}

.hot-topic h2{
  padding: 10px 0;
  font-size: 18px;
  text-shadow: 0 0 2px #000;
}

.hot-topic h3{
  padding: 10px 0;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}

.hot-topic p{
  color: white;
  padding: 10px 0;
  font-size: 15px;
  padding: 12px 10px;
}

.hot-topic-content a{
  display: block;
  background: #5fa31c;
  border: none;
  width: 95px;
  border-radius: 2px;
  text-align: center;
  padding: 7px 10px;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.hot-topic-content a:hover{
  text-decoration: underline;
}

/*** Other */

.hdiv1 {
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 650px;
  margin-top: 90px;
  margin: 0 auto;  
}

.hdiv1 img {
  height: 200px;
  width: 400px;
}

.hdiv1 h6 {
  color: white;
}

.hdiv1 p {
  font-size: 15px;
  color: white;
}


/*** Latest */

.recommends > h2{
  padding: 15px 0 15px 30px;
}

.recommends article{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 15px 0;
  border-bottom: 1px solid #5fa31c;
  align-items: center;
}

.recommends img{
  width: 220px;
  height: 150px;
  align-self: center;
  border-radius: 25px;
}

.recommends h4{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  align-self: center;
}

.recommends article h2{
  font-size: 24px;
  padding: 10px 0;
  font-family: var(--heading);
}

.recommends article p{
  font-size: 20px;
}

.recommends article div{
  margin-right: 10px;
}



/* Footer styling */
footer {
  background-color: #272629;
  color: white;
  text-align: center;
  padding: 20px;
  position: static;
  bottom: 0;
  width: 100%;
  border-top: 5px solid #5fa31c;
}

/* Styling for copyright text */
footer p {
  margin: 0;
}

/* Styling for social links */
.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.social-links img {
  width: 20px; /* Adjust the size as needed */
  height: auto;
  border-radius: 50%; /* Make the images circular if needed */
}


/**Products**/

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 29%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent h2 {
  font-size: 35px;
  margin-top: 50px;
}
.parent h4 {
  font-size: 22px;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px;
}

.div2 { 
  grid-area: 2 / 1 / 3 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px; 
}
.div3 { 
  grid-area: 3 / 1 / 4 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px; 
}
.div4 { 
  grid-area: 4 / 1 / 5 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px;  
}
.div5 { 
  grid-area: 5 / 1 / 6 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px;  
}
.div6 { 
  grid-area: 6 / 1 / 7 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px;  
}
.div7 { 
  grid-area: 7 / 1 / 8 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px; 
}
.div8 { 
  grid-area: 8 / 1 / 9 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 100px; 
}
.div9 { 
  grid-area: 9 / 1 / 10 / 2;
  border: #000 ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 800px;
  margin-top: 90px;  
}


.parent img {
  height: 400px;
  width: 800px;
}

.fcb-ek3p {
    width: 100%;
    background-color: #0b0b0d;
    box-sizing: border-box;
    display: block;
    padding: 0!important;
    cursor: auto!important;
    border-top: 5px solid #5fa31c;
    a {
        color: #EAE8E1;
    }


}

@media (min-width: 600px) {
    .fcb-ek3p{
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 2560px) {
    .fcb-ek3p{
        max-width: 2560px;
    }
}

.fcb-p3le{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1.5rem;
    color: white;
    margin: auto;
}


@media (min-width: 0px){
    .fcb-p3le{
        max-width: 100%;
    }
}


@media (min-width: 600px){
    .fcb-p3le{
        max-width: 94%;
    }
}

@media (min-width: 900px){
    .fcb-p3le{
        max-width: 98%;
    }
}

@media (max-width: 1240px){
    .fcb-p3le{
        display: none;
    }
}

@media all and (min-width: 1241px){
    .fcb-p3le{
        display: block;
    }
}


.fcbf-sm23{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 8px;
    align-items: flex-start;
    width: 100%;
    width: calc(100% + 8px);

}


.fcbft-dsml {
    flex-direction: row;
    margin: 0;
    width: 100%;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;

}

@media (min-width: 600px){
    .fcbft-dsml{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 900px){
    .fcbft-dsml{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .fcbft-dsml{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1920px){
    .fcbft-dsml{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 2560px){
    .fcbft-dsml{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
} 



.fcbft-fg3r{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    color: #ffffff;
}

@media all and (max-width: 1199px){
    .fcbft-fg3r{
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: -.2px;
    }
}


@media all and (min-width: 1200px){
    .fcbft-fg3r{
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: -.2px;
    }
}

.fctbfb-a34e{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    flex-direction: column;
    flex-grow: 0;
    max-width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.fctbfb-a34e>.t-item {
    max-width: 100%;
}

@media (min-width: 600px){
    .fctbfb-a34e{
        flex-basis: 41.6667%;
        flex-grow: 0;
        max-width: 41.6667%;
    }
}

@media (min-width: 900px){
    .fctbfb-a34e{
       flex-basis: 41.6667%;
       flex-grow: 0;
       max-width: 41.6667%; 
    }
}

@media (min-width: 1200px){
    .fctbfb-a34e{
       flex-basis: 41.6667%;
       flex-grow: 0;
       max-width: 41.6667%;
    }
}

@media (min-width: 1920px){
    .fctbfb-a34e{
       flex-basis: 41.6667%;
       flex-grow: 0;
       max-width: 41.6667%;
    }
}

@media (min-width: 2560px){
    .fctbfb-a34e{
       flex-basis: 41.6667%;
       flex-grow: 0;
       max-width: 41.6667%;
    }
}




.fctbfb-a4fe{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 600px){
    .fctbfb-a4fe{
       box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width: 900px){
    .fctbfb-a4fe{
       box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width: 1200px){
    .fctbfb-a4fe{
       box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%; 
    }
}

@media (min-width: 1920px){
    .fctbfb-a4fe{
       box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%; 
    }
}

@media (min-width: 2560px){
    .fctbfb-a4fe{
       box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
    max-width: 100%; 
    }
}

@media (min-width: 0px){
    .fctbfb-a4fe{
      width: 100%;
    }
}

@media (min-width: 600px){
    .fctbfb-a4fe{
      width: auto;
    }
}


.fctbfb-a5ee{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

@media (min-width: 0px){
    .fctbfb-a5ee{
        width: 100%;
    }
}

@media (min-width: 600px){
    .fctbfb-a5ee{
        width: 100%;
    }
}

@media (min-width: 900px){
    .fctbfb-a5ee{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .fctbfb-a5ee{
        width: 130%;
    }
}

.fctbfb-a5ee .r-input:before {
    border-bottom: 1px solid #EAE8E1!important;
}

.fctbfb-a5ee .r-input:after {
    border-bottom: 2px solid #EAE8E1!important;
}

.fctbfb-a5ee .r-input:hover:before {
    border-bottom: 1px solid #EAE8E1!important;
}

.fctbfb-a5ee .r-input:before {
    border-bottom: 2px solid #EAE8E1!important;
}

.fctbfb-a5ee input {
    color: #EAE8E1;
}

.fctbfb-a5ee input:hover {
    color: #EAE8E1;
}

.fctbfb-a6cc{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: black;
    box-sizing: border-box;
    cursor: text;
    align-items: center;
    position: relative;
    display: inline-flex;
}

.fctbfb-a6cc::after{
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    left: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    right: 0;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.fctbfb-a6cc::after{
    border-bottom: 2px solid #1976d2;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}




.fcipf-nl32{
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms
}

.fcipf-nl32:focus{
    outline: 0;
}

.fcipf-nl32:invalid{
box-shadow: none;
}

.fcipf-jdk4{
    display: flex;
    height: 0.01em;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
}



.fcipf-elk4{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 3px 9px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: #1976d2;
    padding: 12px 18px;
    color: white;
    border-color: transparent;
    background-color: transparent;
    padding: 12px 0px;
}

.fcipf-elk4{
    border-style: none;
}

@media print {
    .fcipf-elk4 {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.fcipf-elk4:hover {
    text-decoration: none;
    background-color: rgba(25, 118, 210, 0.04);
    border: 1px solid #000000;
}

@media (hover: none) {
    .fcipf-elk4:hover {
        background-color: transparent;
    }
}

.fcipf-elk4:hover{
    color: #000000;
    background: #5fa31c;
    background-color: #5fa31c;
}

.fcipb-e2k1{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
    display: block;
    font-size: 0.689rem;
    white-space: nowrap;
}

@media all and (max-width: 899px) {
    .fcipb-e2k1{
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0;
    }
}

@media all and (min-width: 900px) and (max-width: 1199px) {
    .fcipb-e2k1{
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0;
    }
}

@media all and (min-width: 1200px) {
    .fcipb-e2k1{
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0;
    }
}


.fcbft-fg3r{
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    padding-bottom: 10px;
    display: block;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.fcbm-g34o{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    display: flex;
}


.fcbm-efko{
    display: inline-flex;
    width: 1.5em;
    height: 1em;
    margin-top: 20px;
    
}

.fctbr-mi88{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 600px){
    .fctbr-mi88{ 
        flex-basis: 58.333333%;
        flex-grow: 0;
        max-width: 58.333333%;
    }    
}


@media (min-width: 900px){
    .fctbr-mi88{ 
        flex-basis: 58.333333%;
        flex-grow: 0;
        max-width: 58.333333%;
    }    
}


@media (min-width: 1200px){
    .fctbr-mi88{ 
        flex-basis: 58.333333%;
        flex-grow: 0;
        max-width: 58.333333%;
    }    
}


@media (min-width: 1920px){
    .fctbr-mi88{ 
        flex-basis: 58.333333%;
        flex-grow: 0;
        max-width: 58.333333%;
    }    
}

@media (min-width: 2560px){
    .fctbr-mi88{ 
        flex-basis: 58.333333%;
        flex-grow: 0;
        max-width: 58.333333%;
    }    
}

@media (min-width: 0px){
    .fctbr-mi88{ 
        display: none;
    }
}


@media (min-width: 600px){
    .fctbr-mi88{ 
        display: block;
    }
}

.fctn-am1p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0px;
}

.fctn-da2e{
    margin-right: 50px;
}

.fctn-al1d{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-top: -8px;
    width: calc(100% + 8px);
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.fctn-al1d>.t-item{
    max-width: none;
}
.fctn-al1d>.t-item{
    padding-top: 8px;
}
.fctn-al1d>.t-item{
    padding-left: 8px;
}

.fctn-akdd{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
}

.fctn-x12p{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EAE8E1;
    font-size: 0.9em;
    text-transform: capitalize;
}

@media all and (max-width: 899px){
    .fctn-x12p{
        font-size:1rem;
        line-height: 1.3;
        letter-spacing: -.2px;
    }
}

@media all and (min-width: 900px) and (max-width: 1199px) {
    .fctn-x12p{
        font-size:1rem;
        line-height: 1.3;
        letter-spacing: -.2px;
    }
}

@media all and (min-width: 1200px){
    .fctn-x12p{
        font-size:1rem;
        line-height: 1.3;
        letter-spacing: -.2px;
    }
}

.fbf-qe3u{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
    margin-top: 1rem;
}


.fbf-qe3u>.t-item{
    padding-top: 16px;
}

.fbf-qe3u>.t-item{
    padding-left: 0px;
}

.fbf-ajl3{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width:600px){
    .fbf-ajl3{
        flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width:900px){
    .fbf-ajl3{
        flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width:1200px){
    .fbf-ajl3{
        flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width:1920px){
    .fbf-ajl3{
        flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    }
}

@media (min-width:2560px){
    .fbf-ajl3{
        flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    }
}

.fbf-n3je{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: #8D9C98;
    
}

@media all and (max-width: 899px){
    .fbf-n3je{
        font-size:0.75rem;
        line-height: 1;
        letter-spacing: 0;
    }
}

@media all and (min-width :900px) and (max-width: 1199px){
    .fbf-n3je{
        font-size:0.75rem;
        line-height: 1;
        letter-spacing: 0;
    }
}

@media all and (min-width: 1200px){
    .fbf-n3je{
        font-size:0.75rem;
        line-height: 1;
        letter-spacing: 0;
    }
}

.fbf-ead2{
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
    margin: 0;
}

.fbf-dsm3{
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 600px){
    .fbf-dsm3{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 900px){
    .fbf-dsm3{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .fbf-dsm3{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1920px){
    .fbf-dsm3{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 2560px){
    .fbf-dsm3{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 0px){
    .fbf-dsm3{
        display: none;
    }
}

@media (min-width: 900px){
    .fbf-dsm3{
        display: block;
    }
}

.fbf-3ka4{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: 0;
    row-gap: 8px;
    justify-content: flex-start;
}

.dfbf-anm2{
  display: flex;
  align-items: center;
  width: fit-content;
  color: #8D9C98;
  margin: 0rem 0.5rem;
}

.dfbf-aei3{
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(195, 191, 191, 0.601);
  border-bottom-width: 0;
  height: auto;
  border-right-width: thin;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
